.team-section {
    /* background-color: #d6bdbd4d; */
    padding: 100px 0px;
  }
  
  .text-container-team {
    margin-bottom: 40px;
    font-weight: bold;
  }
  
  .text-container-team h1 {
    color: black;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 47px;
    font-weight: bold;
  }
  
  .image-container-team {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
  }
  
  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: 270px;
  }
  /* Montserrat', sans-serif */
  
  .team-member img {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }
  
  .name-overlay {
    width: 240px;
    height: 60px;
    /* background-color: rgb(255, 255, 255); */
    text-align: center;
    color: black;
    padding: 0px 0px 10px 0px;
    position: relative;
    right: 0px;
    top: 14px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px;
  }
  
  .name-overlay h1 {
    color: black;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 17px;
    font-weight: normal;
    margin-bottom: 1px;
  }
  
  .name-overlay p {
    color: black;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 13px;
    font-weight: normal;
  }
  .team-member img {
    width: 100%;
    height: auto;
    transition: transform 0.7s ease;
  }
  
  .team-member:hover img {
    transform: scale(1.1);
  }
  
  .name-overlay {
    transition: opacity 0.3s ease;
  }
  
  .team-member:hover .name-overlay {
    opacity: 0.8;
    background-color: rgb(248, 175, 175);
  }
  
  