.About {
  background-color: #000;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.AboutText {
  position: relative;
}

.VerticalLine {
  width: 1px;
  border-left: 1px solid #fff;
  height: 60%;
  background-color: #000000;
  position: absolute;
  top: 90px;
  left: 10%;
}

.ShortLine {
  width: 1px;
  border-left: 3px solid #fff;
  height: 20%; /* Adjust the height as needed */
  position: absolute;
  top: 200px; /* Adjust the top position as needed */
  left: 10%;
  transition: transform 0.7s ease-in-out; /* Add transition effect */
}

.ShortLine.active {
  transform: translateY(-50px); /* Adjust the translation value as needed */
}

.AboutTextWrapper {
  margin: 0px 0px 0px 40px;
  width: 70%;
  padding: 40px;
  text-align: left;
}


/* .vertical-line {
  border-left: 2px solid #fff;
  height: 500px;
  position: fixed;
} */
