.box {
	width: 490px;
	height: 664px;
	background-color: #000000;
	position: relative;
	margin: 67px 0px 10px calc((100% - 980px) * 0.5);
	left: 0px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start;
	border-radius: 16px;
	
}

.header-text {
	color: rgb(255, 255, 255);
	letter-spacing: 0.16em;
	font: normal normal normal 14px/1.4em montserrat, sans-serif;
	/* overflow-wrap: break-word; */
	text-align: start;
	position: absolute;
	margin: 56px 0px 42px 0;
	left: 92px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start;
}

.title-text {
	color: rgb(255, 255, 255);
	letter-spacing: 0.08em;
	font: normal normal normal 24px/1.4em montserrat, sans-serif;
	position: absolute;
	margin: 125px 0px 10px 0;
	left: 92px;
	grid-area: 2 / 1 / 3 / 2;
	justify-self: start;
	align-self: start;
	word-break: break-word;
	text-align: left;
	width: calc(100% - 92px);
}
