.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    height: 100vh;
}

.content {
    text-align: justify;
    color: #fff;
}

.content h2 {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 12px;
}

.container h3 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 43px;
}

.container p {
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 25px;
}

.box {
    width: 490px;
    height: 664px;
    background-color: #000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 30px;
}

.description {
    font-size: 18px;
    margin-bottom: 40px;
}

.learn-more-box {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
}

.learn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.learn-more-text {
    margin-right: 10px;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 22px;
}

.arrow {
    font-size: 20px;
    font-weight: normal;
}

.scroll-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #fff;
    z-index: 1;
}
