.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 200px;
}
.Contactcontainer {
  text-align: justify;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 100px;
}

.info {
  margin-left: 100px;
  margin-right: 60px;
}

.addresstitle {
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}

.addresssubtitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-item {
  font-size: 18px;
  margin-bottom: 10px;
}

.map-container {
  flex: 1;
  height: 100%;
}
