body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #d6bdbd46;
}

/* Hide the entire body content (except .message-container) on small screens */
@media screen and (max-width: 980px) {
  
}
